* {
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}

body {
    font-family: "Roboto", sans-serif;
}

.navbar {
height: 50px;
width: 100%;
background-color: black;
position: fixed;
top: 0;
left: 0;
z-index: 1000;
}

.navbar-container {
    display: flex;
    align-items: center;
    padding: 0 50px;
    height: 100%;
}


.logo-container {
 flex: 1;
 background-color: black ;
}

.logo {
    font-family: "Roboto", sans-serif;
    color: whitesmoke;
    font-size: 30px;
}

.main-menu-container {
    flex: 5;
    height: 32px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(211, 6, 6);
}

.menu-list {
    display: flex;
    list-style: none;
    margin-top: 1%;
    justify-content: space-around;
}

.menu-list-items {
    margin-right: 30px;
}

.menu-list-items.active {
    font-weight: bold;
}

.profile-container {
    flex: 2;
    display: flex;
    background-color: green;
    align-items: center;
    justify-content: flex-end;

}

.profile-picture {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-text-container {
    margin: 0 20px;
}

.toggle {
    width: 40px;
    height: 20px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative; /* Allows the child toggle-ball-light to respond*/
}

.toggle-icon {
    color: gold;
}

.toggle-ball-light {
    width: 18px;
    height: 18px;
    background-color: black;
    position: absolute;
    right: 1px;
    border-radius: 50%;
    cursor: pointer;
    transition: 1s ease all;
}

.sidebar {
    /* z-index: -1; */
    height: 100%;
    width: 50px;
    position: fixed;
    top: 0; /* keeps the sidebar from scrolling */
    left: 0;
    background-color: black;
    align-items: center;
    display:flex; 
    flex-direction: column;
    padding-top: 60px;
}

.sidebar-icon {
    color: aliceblue;
    font-size: 25px;
    margin: 80px 0;
    cursor: pointer;
}

.container {
    background-color: #151515;
    height: calc(100vh - 50px);
    margin-left: 50px; /* Offsetting by sidebar width */
    padding-top: 50px; /* Offsetting by navbar height */
    overflow-y: auto;
}

.window-container {
    color: aliceblue;
    margin-left: 50px;
} 

.main-window {
    height: 50vh;
}

.title {
    width: 100px;
}

.container {
    /* z-index: 1; */
}

.form-container {
    display: flex;
    justify-content: space-around;
    background-color: #f4f4f4;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

#meme-form input,
#meme-form button {
    display: block;
    width: 50%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#meme-form button {
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

.meme-list {
    color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
}

.meme {
    background-color: #151515;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: calc(33.333% - 20px);
    box-sizing: border-box;
}

.meme video {
    width: 100%;
    height: auto;
}

.meme button {
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.container.active {
    background-color: white;
}

.menu-list-items.active {
    color: black;
}

.navbar.active {
    background-color: white;
    color: black;
}

.navbar-container.active {
    background-color: white;
    color: black;
}

.sidebar.active {
    background-color: white;
}

.sidebar-icon.active {
    color: black;
}

.toggle.active {
    background-color: black;
}

.toggle-ball-light.active {
    background-color: white;
    transform: translateX(-20px);
}